.event-form-container {
  background: var(--color-white);
  border-radius: 20px;
  max-width: 700px;
  margin: 0 auto 5% auto;
  padding: 2.7rem 2.7rem 2.2rem 2.7rem;
  box-shadow: 0 10px 32px 0 rgba(68,79,101,.14);
}

.event-form-title {
  text-align: center;
  font-size: 2.25rem;
  font-family: var(--fuente-krona);
  color: var(--color-terciario);
  font-weight: 700;
  margin-bottom: 1.7rem;
  margin-top: 0;
}

.event-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.4rem 2.1rem;
}

@media (max-width: 850px) {
  .event-form-container {
    padding: 1.5rem .6rem 1.1rem .6rem;
  }
  .event-form-title {
    font-size: 1.4rem;
  }
  .event-form-grid {
    grid-template-columns: 1fr;
  }
}

.event-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.event-input-label {
  font-family: var(--fuente-montserrat);
  color: var(--color-black);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.event-textarea {
  font-family: var(--fuente-inter);
  background: var(--color-cuaternario);
  color: var(--color-black);
  border-radius: 11px;
  border: 1.5px solid var(--color-secundario);
  padding: .87rem 1.1rem;
  font-size: 1rem;
  outline: none;
  margin-bottom: 0;
  transition: border .19s;
  height: 150;
}

.event-input:focus,
.event-textarea:focus {
  border-color: var(--color-primario);
}

.event-textarea {
  min-height: 56px;
  resize: vertical;
}

.event-input-money-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.event-input-money-sign {
  position: absolute;
  left: 14px;
  top: 45%;
  font-size: 1.15em;
  color: var(--color-secundario);
  font-family: var(--fuente-montserrat);
  font-weight: 700;
  pointer-events: none;
}

.event-button-row {
  display: flex;
  gap: 1.2rem;
  justify-content: flex-end;
  margin-top: 1.2rem;
}

.event-btn-main, .event-btn-cancel {
  width: 170px;
}

.event-btn-main {
  background: var(--color-terciario);
  color: var(--color-white);
  font-weight: 700;
  border: none;
  padding: .84rem 0;
  border-radius: 10px;
  font-size: 1.13rem;
  font-family: var(--fuente-montserrat);
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgba(68,79,101,.08);
  transition: background .2s;
}

.event-btn-main:hover {
  background: var(--color-hover);
  transition: background .2s;
}

.event-btn-cancel {
  background: var(--color-red);
  color: var(--color-white);
  border: 2px solid var(--color-red);
  font-weight: 700;
  padding: .82rem 0;
  border-radius: 10px;
  font-size: 1.11rem;
  cursor: pointer;
  font-family: var(--fuente-montserrat);
  transition: background .2s, color .2s;
}

.event-btn-cancel:hover {
  background: var(--color-darker-red);
  color: var(--color-white);
  transition: background .2s, color .2s;
}

.event-input {
  font-family: var(--fuente-inter);
  background: var(--color-cuaternario);
  color: var(--color-black);
  border-radius: 11px;
  border: 1.5px solid var(--color-secundario);
  padding: .87rem 1.1rem;
  font-size: 1rem;
  outline: none;
  margin-bottom: 0;
  transition: border .19s;
}

.msg-error {
  color: var(--color-red);
  margin-top: 1.25rem;
  font-size: 1.08rem;
  text-align: center;
  font-family: var(--fuente-montserrat);
}

.owner-selector-btn {
  min-height: 44px;
  border-radius: 11px;
  padding: .87rem 1.1rem;
  font-family: var(--fuente-inter);
  font-size: 1rem;
  width: 100%;
  border: 1.5px solid var(--color-secundario);
  background: var(--color-terciario);
  color: var(--color-white);
  font-weight: 600;
  cursor: pointer;
  transition: background .2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.owner-selector-btn:hover {
  background: var(--color-hover);
}

.msg-success {
  color: var(--color-primario);
  margin-top: 1.25rem;
  font-size: 1.11rem;
  text-align: center;
  font-family: var(--fuente-montserrat);
  background: var(--color-cuaternario);
  padding: 0.7em 1.1em;
  border-radius: 7px;
  border: 1.5px solid var(--color-primario);
  font-weight: 600;
  letter-spacing: .02em;
}




