.profile-container {
  margin-bottom: 8%;
  display: flex;
  width: 90%;
  background: var(--color-white);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.background {
  width: 90%;
  background: url('../assets/STARTIMAGE.jpg') no-repeat center/cover;
  position: relative;
  display: flex;
  flex-direction: row; /* changed from column */
  justify-content: right;
  align-items: center; /* changed from flex-end */
  padding-right: 2%;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(163, 151, 151, 0.149); /* Add a semi-transparent white filter */
  z-index: 1;
}

.profile-image, .random-image-button {
  z-index: 2; /* Ensure these elements are above the filter */
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  margin-right: -.5%;
  margin-bottom: 1%;
  margin-top: 1rem;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-form .profile-image {
  width: 70%; /* Increase width when editing */
  height: 70%; /* Increase height when editing */
}

.random-image-button {
  background: rgba(1, 1, 1, 0.5);
  color: var(--color-white);
  border: none;
  padding: 12px 12px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 20px;
  transition: background 0.3s;
  order: -1; 
  margin-right: 4%;
  align-self: flex-end; 
  margin-bottom: 4%;
}

.random-image-button:hover {
  background: rgba(25, 17, 17, 0.5);
}

.info-container {
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--color-white);
}

.info-container h2 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.2;
}

.info-container span {
  font-weight: normal;
  display: block;
  font-size: 18px;
}

.info-container p {
  font-size: 14px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.info-container p svg {
  margin-right: 8px;
  font-size: 1.2rem;
}

.info-container .address {
  font-weight: normal;
  line-height: 1.3;
}

.info-container .gender {
  font-weight: normal;
  font-size: 16px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.gender-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.gender-row label {
  text-align: center;
  width: 100%;
  font-family: var(--fuente-montserrat);
  font-weight: bold;
  margin: 1rem 0 0.2rem 0; /* Add top margin for more space */
  display: flex;
  justify-content: center;
}

.edit-button {
  background-color: var(--color-terciario);
  color: var(--color-white);
  border: none;
  padding: 5%;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  width: 40%;
  transition: background 0.3s;
}

.edit-button:hover {
  background-color: #3a255d;
}

.edit-button svg {
  margin-right: 4%; /* Increase margin for more space */
}

.button-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem; /* Space between buttons */
  margin-top: 5%;
}

.save-button, .cancel-button {
  width: 50%;
  padding: 5%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.save-button {
  background-color: var(--color-black);
  color: var(--color-white);
}

.save-button:hover {
  background-color: #333333; /* Darker variation of black */
}

.save-button:disabled {
  background-color: #666666; /* Lighter variation of black */
  cursor: not-allowed;
}

.save-button svg {
  margin-right: 8px; /* Increase margin for more space */
}

.cancel-button {
  background-color: var(--color-red);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-button:hover {
  background-color: var(--color-darker-red) /* Darker variation of red */
}

.cancel-button svg {
  margin-right: 8px; /* Increase margin for more space */
}

.hidden-file-input {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure modal is always on top */
}

.modal-content {
  background: var(--color-white);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: var(--fuente-montserrat);
  color: var(--color-black);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 20px;
}

.modal-content h2 {
  font-family: var(--fuente-montserrat);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.modal-content p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.modal-content button {
  background-color: var(--color-terciario);
  color: var(--color-white);
  border: none;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background 0.3s;
  margin-right: 1rem;
}

.modal-content button:hover {
  background-color: var(--color-hover);
}

.profile-title {
  font-family: var(--fuente-krona);
  font-size: 3rem;
  text-align: left;
  margin-top: 3%; 
  margin-left: 5%; 
  color: black;
}

.user-name {
  font-family: var(--fuente-montserrat);
  font-weight: bold;
}

.birth-date, .gender, .address, .postal-code, .phone-number {
  font-family: var(--fuente-montserrat);
}

.grid-column label {
  text-align: left;
  font-family: var(--fuente-montserrat);
  font-weight: bold;
  margin: 1rem 0 0.2rem 0; /* Add top margin for more space */
}

.grid-column input:not([type="radio"]):not([type="checkbox"]),
.grid-column select {
  font-size: 1rem;
  padding: 0.8rem;
  width: 100%;
  border-radius: 5px;
  height: 50px;
  line-height: 1.3;
  margin: 0; /* Importante: sin margin para inputs/select */
  border: 1px solid #ccc; /* More subtle border */
  color: #333; /* Different text color */
}

.grid-column input:focus {
  border-color: var(--color-terciario);
  outline: none;
  box-shadow: 0 0 5px var(--color-primario);
  text-align: center;
}

/* Estilo para el cursor bloqueado en el input de fecha de nacimiento */
#birthDate[disabled] {
  cursor: not-allowed;
}

.error-message {
  color: var(--color-red);
  font-size: 0.75rem; /* Reduce font size */
  margin-top: 0.5rem;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
}
